@font-face {
  font-family: 'Chillax';
  src: url('../fonts/Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.ttf');
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

main {
  background: #0F0F0F;
}

nav {
  /* background: #0F0F0F; */
  /* background: red; */
  position: relative;
  padding: .05em;
  font-size: 1.3rem;
  
}
nav .orbit > *, .hamburger-menu li a {
  color: #E53935;
  animation: colorGlow 2.8s ease-in-out infinite;
}
nav .main-list, .header-list {
  display: flex;
  justify-content: right;
  flex-direction: row;
  list-style-type: none;
}
nav ul li {
  margin-right: 1.5em;
  cursor: pointer;
}
nav ul li a {
  /* color: #FF4A4A; */

  /* color: #E53935; */

  /* color: #FF3030; */
  /* color: #F55151; */
  /* animation: colorGlow 2.8s ease-in-out infinite; */
}
nav .menu {
  display: none;
  color: white;
  cursor: pointer;
}
.nav-menu-list {
  display: none;
}
.nav-list {
  position: absolute;
  bottom: 50;
  right: 100;
  width: 100%;
  z-index: 10;
}
.nav-list ul {
  list-style: none;
  padding-left: 0;
}
.nav-list ul li {
  border-top: 1px solid #686868;
  border-bottom: 1px solid #686868;
  padding: .8em 0;
  font-size: 1.2rem;
  background: #0F0F0F;
}
.nav-list li a {
  color: #E53935;
  animation: colorGlow 2.8s ease-in-out infinite;
}
#about, #projects {
  scroll-margin-top: 160px;
}
.anchor-links {
  color: white;
}
.anchor-links:hover {
  color: inherit
}
.nav-resume {
  color: #E53935;
  animation: colorGlow 2.8s ease-in-out infinite; 
}

header {
  background: #0F0F0F;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
header h1 {
  font-size: clamp(3rem, 16vw, 6rem);
  font-weight: 900;
  margin: 0;
}
header h1 span {
  color: #E53935;
  animation: colorGlow 2.8s ease-in-out infinite;
}
header h2 {
  font-size: clamp(1.8rem, 7vw, 3rem);
  font-weight: 500;
  margin: 0;
}
header div {
  margin: 0 auto;
}
.header-name {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 520px; */
  /* width: 420px; */
  /* width: clamp(390px, 60vw, 520px); */
  /* width: clamp(350px, 60vw, 520px); */
  width: clamp(320px, 80vw, 520px);
}
.header-name svg {
  /* font-size: 2.2rem; */
  font-size: clamp(.5rem, 6vw, 2.2rem);
  /* animation: bounce .9s ease-in 4s infinite ; */
  /* animation: bounce .9s ease-in 5s infinite forwards, beat 3s linear infinite ; */
}
/* .header-svg-animation {
  animation: bounce .9s ease-in infinite;
} */
.header-svg-animation {
  animation: bounce .9s ease-in, colorGlow 2.8s ease-in-out infinite;;
}
.header-svg-glow {
  animation: colorGlow 2.8s ease-in-out infinite;
}
.socials-list ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
  /* width: 178px; */
  margin-top: 1.5em;
  list-style: none;
  padding-left: 0;
}
.socials-list ul li, .socials-list ul li a {
  transition: all .2s ease-in-out;
}
.socials-list ul li:hover {
  transform: scale(1.4);
}
header div a {
  color: white;
  transition: all .2s ease-in-out;
}
header div a:hover {
  transform: scale(1.2);
  color: #dc143cc7
}
header div a svg {
  font-size: 1.7rem;
}
header div h4 {
  font-size: 1.6rem;
}
.header-list {
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px;
  padding-left: 0;
  row-gap: 20px;
}
.header-list li {
  background: #dc143cc7;
  /* background: #DC143C; */
  padding: .2em .7em;
  margin-right: .4em;
}

section {
  padding: 4em;
}
section h2 {
  font-size: 2.5rem;
  color: #E53935;
  animation: colorGlow 2.8s ease-in-out infinite;
}

@media (max-width: 530px) {
  nav {
    overflow: visible;
    position: relative;
  }
  nav .main-list {
    visibility: hidden;
  }
  nav .menu {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 50%;
    /* left: -50%; */
    /* transform: translate(400%, -500%); */
    transform: translate(290%, 60%) !important;
    font-size: 2.2rem;
    z-index: 20;
  }
  
}
@media (min-width: 531px) {
  .nav-list {
    visibility: hidden;
  }
}

.slides-left {
  animation: slides-left .9s ease forwards;
}
.slides-right {
  animation: slides-right .9s ease forwards;
}
.menu-appear-down {
  animation: menuAppearDown .9s ease forwards;
}
.menu-appear-up {
  animation: menuAppearUp .9s ease forwards;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 100%; */
  transform: translateY(0%);
  width: 100%;
  z-index: 5;
}
.hamburger-menu ul {
  list-style-type: none;
  padding-left: 0;
}
.hamburger-menu ul li {
  margin-right: 0;
  padding: .75em 0;
  cursor: pointer;
}

.fadeUp {
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.8s ease;
}
.fadeUp.active {
  transform: translateY(0px);
  opacity: 1;
  
}
.hide {
  transform: translateY(150px);
  opacity: 0;
}
.hideScroll {
  overflow-y: hidden;
}
@keyframes bounce {
  0% {transform: translateX(0%); animation-timing-function: ease-out}
  25% {transform: translateX(45%)}
  50% {transform: translateX(0%); animation-timing-function: ease}
  70% {transform: translateX(25%)}
  80% {transform: translateX(0%)}
  90% {transform: translateX(12%)}
  100% {transform: translateX(0%)}
}
/* @keyframes bounce {
  0% {transform: translateX(0%); animation-timing-function: ease-out}
  25% {transform: translateX(100%)}
  50% {transform: translateX(0%); animation-timing-function: ease}
  70% {transform: translateX(25%)}
  80% {transform: translateX(0%)}
  90% {transform: translateX(12%)}
  100% {transform: translateX(0%)}
} */
@keyframes colorGlow {
  0%, 100% {
    color: #E53935;
  }
  50% {
    color: #FF6666;
  }
}
@keyframes slides-left {
  0% {
    transform: translate(415%, 50%);
    opacity: 0;
  }
  100% {
    transform: translate(400%, 50%);
    opacity: 1;
  }
}
@keyframes slides-right {
  0% {
    transform: translate(415%, 50%);
    opacity: 0;
  }
  100% {
    transform: translate(400%, 50%);
    opacity: 1;
  }
}
@keyframes menuAppearDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes menuAppearUp {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    display: none;
    opacity: 0;
  }
}