@font-face {
  font-family: 'Chillax';
  src: url('../fonts/Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.ttf');
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

main {
  background: #0F0F0F;
}
nav {
  background: #0F0F0F;
  /* background: red; */
  padding: .05em;
  font-size: 1.3rem;
}
nav ul, .header-list {
  display: flex;
  justify-content: right;
  flex-direction: row;
  list-style-type: none;
}
nav ul li {
  margin-right: 1.5em;
  cursor: pointer;
}

header {
  background: #0F0F0F;
  /* background: #0a0a0a; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: #2A3132; */
  min-height: 100vh;
}
header h1 {
  /* font-size: 6rem; */
  font-size: clamp(3rem, 16vw, 6rem);
  font-weight: 900;
  margin: 0;
}
header h2 {
  /* font-size: 3rem; */
  font-size: clamp(2.2rem, 5.2vw, 3rem);
  font-weight: 500;
  margin: 0;
}
header div {
  margin: 0 auto;
}
.header-name {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 520px; */
  /* width: 420px; */
  width: clamp(390px, 60vw, 520px);
  /* background: red; */
}
.header-name svg {
  /* font-size: 2.2rem; */
  font-size: clamp(.5rem, 6vw, 2.2rem);
  animation: bounce .9s ease-in ;
}
 @keyframes bounce {
  0% {transform: translateX(0%); animation-timing-function: ease-out}
  25% {transform: translateX(100%)}
  50% {transform: translateX(0%); animation-timing-function: ease}
  70% {transform: translateX(25%)}
  80% {transform: translateX(0%)}
  90% {transform: translateX(12%)}
  100% {transform: translateX(0%)}
}
.socials-list ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
  /* width: 178px; */
  margin-top: 1.5em;
  list-style: none;
  padding-left: 0;
}
.socials-list ul li, .socials-list ul li a {
  transition: all .2s ease-in-out;
}
.socials-list ul li:hover {
  transform: scale(1.4);
}
header div a {
  color: white;
  transition: all .2s ease-in-out;
}
header div a:hover {
  transform: scale(1.2);
  color: #b3000c
}
header div a svg {
  font-size: 1.7rem;
}
header div h4 {
  font-size: 1.6rem;
}
.header-list {
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px;
  padding-left: 0;
  row-gap: 20px;
}
.header-list li {
  background: #dc143cc7;
  /* background: #DC143C; */
  padding: .2em .7em;
  margin-right: .4em;
}

section {
  padding: 4em;
}
section h2 {
  font-size: 2.5rem;
}
