footer {
    padding: 3em;
    font-size: 1.5rem;
    text-align: center;
    transform: translateY(0px) !important;
}
footer button {
    border-color: #E53935;
    color: #E53935;
    transition: all .6s ease;
    animation: colorGlow 2.8s ease-in-out infinite;
}
footer button:hover {
    border-color: inherit;
    box-shadow: 5px 5px #E53935;
    transform: translate(-2px, -2px);
}
footer div ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 150px;
    margin: 0 auto;
}
footer div ul li a {
    color: white;
}
footer div ul li, footer div ul li a {
    font-size: 1.9rem;
    transition: all .2s ease-in-out;
}
footer div ul li:hover {
    transform: scale(1.3);
}
footer div ul li:hover a {
    color: #dc143cc7;
}
footer button a {
    color: inherit;
}

@keyframes colorGlow {
  0%, 100% {
    color: #E53935;
    border-color: #E53935;
  }
  50% {
    color: #FF6666;
    border-color: #FF6666;
  }
}