footer {
    padding: 3em;
    font-size: 1.5rem;
    text-align: center;
}
footer div ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 150px;
    margin: 0 auto;
}
footer div ul li a {
    color: white;
}
footer div ul li, footer div ul li a {
    font-size: 1.9rem;
    transition: all .2s ease-in-out;
}
footer div ul li:hover {
    transform: scale(1.3);
}
footer div ul li:hover a {
    color: #b3000c;
}