.left-stats {
    /* position: absolute; */
    transform: rotate(80deg);
    align-self: center;
    transform: translate(30%, 180%) rotate(80deg);
    animation: soft-float-left 7s ease-in-out infinite 6.5s;
}
.middle-stats {
    /* position: absolute; */
    transform: rotate(20deg);
    transform: translate(0%, 50%) rotate(20deg);
    animation: soft-float-middle 7s ease-in-out infinite 6.5s;
}
.right-stats {
    /* position: absolute; */
    transform: rotate(80deg);
    align-self: center;
    transform: translate(-30%, 180%) rotate(80deg);
    animation: soft-float-right 7s ease-in-out infinite 6.5s;
}

.loading-page {
    min-height: 100vh;
    position: absolute;
    width: 100%;
    /* background: red; */
    overflow: hidden;
}
.loading-page div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: inherit;
}
.loading-page div svg {
    font-size: 1.5rem;
}
.loading-page div svg:first-child {
    transform: rotate(80deg);
    align-self: center;
    transform-origin: center center;
    position: absolute;
    animation: left 1.7s ease forwards, transfer-left 5.1s linear forwards 5.4s, soft-float-left 7s ease-in-out infinite 8s;
}
.loading-page div svg:nth-child(2) {
    transform: rotate(20deg);
    transform-origin: center center;
    position: absolute;
    animation: middle 1.7s ease forwards, transfer-middle 5.1s linear forwards 5.4s, soft-float-middle 7s ease-in-out infinite 8s;
}
.loading-page div svg:last-child {
    transform: rotate(80deg);
    align-self: center;
    transform-origin: center center;
    position: absolute;
    right: 50;
    animation: right 1.7s ease forwards, transfer-right 5.1s ease-in-out forwards 5.4s, soft-float-right 7s ease-in-out infinite 8s;
}
.orbit {
    position: absolute;
    transform-origin: center center;
    /* background: red; */
    z-index: 12;
}
.initial-orbit {
    animation: orbit 3.5s ease-out forwards 1.5s;
}

@keyframes left {
    0% {top: 50%; left: 50%; transform: translate(-1600%, 10%) rotate(80deg); }
    100% {top: 50%; left: 50%; transform: translate(-70%, 10%) rotate(80deg); }
}
@keyframes transfer-left {
    /* 0% {top: 50%; left: 50%; transform: translate(-70%, 10%) rotate(80deg) scale(1); }
    5% {top: 50%; left: 50%; transform: translate(-800%, 10%) rotate(80deg) scale(1);}
    15% {top: 50%; left: 50%; color: #dc143cc7; transform: translate(-800%, 10%) rotate(80deg) scale(2.5);}
    20% {top: 50%; left: 50%; transform: translate(-800%, 10%) rotate(80deg) scale(1);}
    25% {top: 50%; left: 50%; color: #dc143cc7; transform: translate(-800%, 10%) rotate(80deg) scale(2.5);}
    50% {top: 50%; left: 50%; opacity: 0; transform: translate(-800%, 10%) rotate(80deg) scale(1);}
    100% {top: 50%; left: 50%; opacity: 0; transform: translate(-800%, 10%) rotate(80deg) scale(1);} */

    0% {top: 50%; left: 50%; transform: translate(-70%, 10%) rotate(80deg) scale(1); }
    5% {top: 50%; left: 50%; transform: translate(-40vw, 10%) rotate(80deg) scale(1);}
    15% {top: 50%; left: 50%; color: #dc143cc7; transform: translate(-40vw, 10%) rotate(80deg) scale(2.5);}
    20% {top: 50%; left: 50%; transform: translate(-40vw, 10%) rotate(80deg) scale(1);}
    25% {top: 50%; left: 50%; color: #dc143cc7; transform: translate(-40vw, 10%) rotate(80deg) scale(2.5);}
    50% {top: 50%; left: 50%; opacity: 0; transform: translate(-40vw, 10%) rotate(80deg) scale(1);}
    100% {top: 50%; left: 50%; opacity: 0; transform: translate(-40vw, 10%) rotate(80deg) scale(1);}
}

@keyframes middle {
    0% {top: 50%; left: 50%; transform: translate(1%, -2720%) rotate(20deg); }
    100% {top: 50%; left: 50%; transform: translate(1%, -130%) rotate(20deg); }
}
@keyframes transfer-middle {
    /* 0% {top: 50%; left: 50%; transform: translate(1%, -130%) rotate(20deg) scale(1);}
    5% {top: 50%; left: 50%; transform: translate(1%, -900%) rotate(20deg) scale(1);}
    15% {top: 50%; left: 50%; color: #dc143cc7; transform: translate(1%, -900%) scale(2.5) rotate(20deg) scale(1);}
    20% {top: 50%; left: 50%; transform: translate(1%, -900%) rotate(20deg) scale(1);}
    25% {top: 50%; left: 50%; color: #dc143cc7; transform: translate(1%, -900%) scale(2.5) rotate(20deg) scale(1);}
    50% {top: 50%; left: 50%; opacity: 0; transform: translate(1%, -900%) rotate(20deg) scale(1);}
    100% {top: 50%; left: 50%; opacity: 0; transform: translate(1%, -900%) rotate(20deg) scale(1);} */

    0% {top: 50%; left: 50%; transform: translate(1%, -130%) rotate(20deg) scale(1);}
    5% {top: 50%; left: 50%; transform: translate(1%, -30vh) rotate(20deg) scale(1);}
    15% {top: 50%; left: 50%; color: #dc143cc7; transform: translate(1%, -30vh) scale(2.5) rotate(20deg) scale(1);}
    20% {top: 50%; left: 50%; transform: translate(1%, -30vh) rotate(20deg) scale(1);}
    25% {top: 50%; left: 50%; color: #dc143cc7; transform: translate(1%, -30vh) scale(2.5) rotate(20deg) scale(1);}
    50% {top: 50%; left: 50%; opacity: 0; transform: translate(1%, -30vh) rotate(20deg) scale(1);}
    100% {top: 50%; left: 50%; opacity: 0; transform: translate(1%, -30vh) rotate(20deg) scale(1);}
}

@keyframes right {
    0% {top: 50%; right: 50%; transform: translate(1400%, 10%) rotate(80deg); }
    100% {top: 50%; right: 50%; transform: translate(165%, 10%) rotate(80deg) ; }
}
@keyframes transfer-right {
     /* 0% {top: 50%; right: 50%; transform: translate(170%, 10%) scale(1) rotate(80deg) ; }
     5% {top: 50%; right: 50%; transform: translate(900%, 10%) scale(1) rotate(80deg) ;}
     15% {top: 50%; right: 50%; color: #dc143cc7; transform: translate(900%, 10%) scale(2.5) rotate(80deg) ;}
     20% {top: 50%; right: 50%; transform: translate(900%, 10%) scale(1) rotate(80deg) ;}
     25% {top: 50%; right: 50%; color: #dc143cc7; transform: translate(900%, 10%) scale(2.5) rotate(80deg) ;}
     50% {top: 50%; right: 50%; opacity: 0; transform: translate(900%, 10%) scale(1) rotate(80deg);}
     100% {top: 50%; right: 50%; opacity: 0;  transform: translate(900%, 10%) scale(1) rotate(80deg);}
      */

     0% {top: 50%; right: 50%; transform: translate(170%, 10%) scale(1) rotate(80deg) ; }
     5% {top: 50%; right: 50%; transform: translate(40vw, 10%) scale(1) rotate(80deg) ;}
     15% {top: 50%; right: 50%; color: #dc143cc7; transform: translate(40vw, 10%) scale(2.5) rotate(80deg) ;}
     20% {top: 50%; right: 50%; transform: translate(40vw, 10%) scale(1) rotate(80deg) ;}
     25% {top: 50%; right: 50%; color: #dc143cc7; transform: translate(40vw, 10%) scale(2.5) rotate(80deg) ;}
     50% {top: 50%; right: 50%; opacity: 0; transform: translate(40vw, 10%) scale(1) rotate(80deg);}
     100% {top: 50%; right: 50%; opacity: 0;  transform: translate(40vw, 10%) scale(1) rotate(80deg);}
}
@keyframes orbit {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(1800deg); }
}

@keyframes soft-float-left {
    0% {top: 50%; left: 50%; transform: translate(30%, 180%) rotate(80deg);}
    50% {top: 50%; left: 50%; transform: translate(30%, 150%) rotate(80deg);}
    100% {top: 50%; left: 50%; transform: translate(30%, 180%) rotate(80deg);}
}
@keyframes soft-float-middle {
    0% {top: 50%; left: 50%; transform: translate(0%, 50%) rotate(20deg);}
    50% {top: 50%; left: 50%; transform: translate(0%, 20%) rotate(20deg);}
    100% {top: 50%; left: 50%; transform: translate(0%, 50%) rotate(20deg);}
}
@keyframes soft-float-right {
    0% {top: 50%; right: 50%; transform: translate(-30%, 180%) rotate(80deg);}
    50% {top: 50%; right: 50%; transform: translate(-30%, 150%) rotate(80deg);}
    100% {top: 50%; right: 50%; transform: translate(-30%, 180%) rotate(80deg);}
}