.projects {
    text-align: left;
    padding-top: 2em;
}
.projects h2 {
    margin-bottom: 2.5em;
}
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(320px, 330px), 400px));
    justify-content: center;
    column-gap: 80px;
    row-gap: 5em;
}
.project-container a {
    margin: 0 auto;
}
.card {
    width: clamp(320px, 50vw, 430px);
    height: 564.55px;
    background: #2e0003;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: transform .5s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}
.card:hover {
    transform: scale(1.08) ;
    animation-name: rotate;
    animation-timing-function: ease-in-out;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card > *:not(:first-child) {
    padding: 1.2em;
}
.card div h3, .card div p:last-child {
    margin: 0;
}
.card div p {
    margin: 1.1em 0
}
.card div p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 7px;
}
.card div span {
    background: #b3000c;
    padding: .2em .7em;
    margin-right: .5em;
}
.header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fadeUp {
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.8s ease;
}
.fadeUp.active {
  transform: translateY(0px);
  opacity: 1;
}
@keyframes rotate {
    0% {rotate: 0turn;}
    25% {rotate: .02turn;}
    50% {rotate: -.02turn;}
    75% {rotate: 0turn;}
}