.projects {
    text-align: left;
    padding-top: 2em;
}
.projects h2 {
    margin-bottom: 2.5em;
}
.project-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 600px); */
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    column-gap: 80px;
    row-gap: 5em;
}
.card {
    /* width: 90%; */
    /* width: 550px; */
    max-width: fit-content;
    background: #2e0003;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: transform .5s;
    animation-duration: .7s;
    /* animation-iteration-count:; */
    animation-fill-mode: forwards;
}
.card:hover {
    transform: scale(1.08) ;
    animation-name: rotate;
    animation-timing-function: ease-in-out;
}
@keyframes rotate {
    0% {rotate: 0turn;}
    25% {rotate: .02turn;}
    50% {rotate: -.02turn;}
    75% {rotate: 0turn;}
}
.card img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card > *:not(:first-child) {
    padding: 1.2em;
}
.card div h3, .card div p:last-child {
    margin: 0;
    /* margin-bottom: .5em; */
}
.card div p {
    margin: 1.1em 0
}
.card div span {
    background: #b3000c;
    /* background: #dc143cc7; */
    padding: .2em .7em;
    margin-right: .5em;
}
.card div a {
    /* background: #b3000c;
    padding: .4em 1em; */
    text-decoration: underline;
    /* color: white; */
    cursor: pointer;
}
.btn {
    text-align: center;
}
.header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-btn a {
    color: #b3000c ;
}