#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

nav {
  /* background: grey; */
  
  padding: .05em;
}
nav ul, .header-list {
  display: flex;
  justify-content: right;
  flex-direction: row;
  list-style-type: none;
}
nav ul li {
  margin-right: 2em;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: purple;
  min-height: 100vh;
}
header h1 {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}
header h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
}
header div {
  margin: 0 auto;
}
header div h4 {
  font-size: 1.5rem;
}
.header-list {
  justify-content: space-evenly;
  width: 100%;
  max-width: 700px;
  padding-left: 0;
}
.header-list li {
  background: #dc143cc7;
  border-radius: 50px;
  padding: .2em .6em;
  margin-right: .4em;
}

section {
  padding: 4em;
}
section h2 {
  font-size: 2.5rem;
}

.about, .projects {
  text-align: left;
}
.about p {
  font-size: 1.1rem;
}

