* {
  padding: 0;
  margin: 0;
  background: #1A1A1D;
  /* color: #EAE7DC; */
  /* color: #E85A4F; */
  /* color: #9E5A63; */
}

.App {
  text-align: center;
}

nav {
  width: 500px;
  margin-left: auto;
  margin-right: 5rem;
  padding: 1em;
}
nav ul, nav ul div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li, nav ul div li {
  cursor: pointer;
  color: #E85A4F;
  font-size: 1.3rem
}
nav ul {
  list-style: none;
}
nav ul div {
  width: 100px;
}

header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header h1 {
  font-size: 5rem;
  margin: 0;
  color: #EAE7DC;
}
header span {
  color: #E85A4F
}
header h2 {
  font-size: 3.5rem;
  color: #E85A4F;
  margin-top: 3rem;
}

main {
  margin: 0 
}
h2 {
  font-size: 2.5rem
}
.sub h2 {
  color: #E85A4F;
  margin-bottom: 3rem;
  background: transparent;
}
.sub img {
  width: 450px;
  height: 300px;
  /* object-fit: contain; */
}
.sub p {
  font-size: 1.2rem;
}

.about, .projects {
  background: #2E1114;
  /* width: 900px; */
  width: 96%;
  margin: 0 auto 0 auto;
  /* text-align: left; */
  padding: 2.3em;
  
}

.about div {
  display: flex;
  justify-content: space-between;
  background: transparent;
}
.about div p {
  line-height: 1.8rem;
  width: 900px;
  margin: 4.5rem auto 0 auto;
  background: transparent;
  color: #EAE7DC;
}
.about div img {
  background: transparent;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 450px;  
  height: 350px;
}
.tech-div {
  display: flex;
  justify-content: space-between;
  width: 750px;
  margin: 2.5rem auto 4rem auto;
}
.tech-div div p {
  margin-bottom: 1.5em;
}
.tech div p {
  color: #EAE7DC;
}

.inner-project {
  background: transparent;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  justify-content: center;
  gap: 20px;
}
.padded-div {
  display: flex;
  flex-direction: column;
}
.project-img {
  width: 100%;
}
.inner-project div {
  color: #EAE7DC;
}

.tech, .btns {
  display: flex;
  justify-content: center;
  
}
.tech {
  margin: 2rem 0 1rem 0;
  flex-direction: column;
}
.btns {
  justify-content: space-between;
  margin-top: auto;
  padding-bottom: 1em;
  width: 195px;
  margin-left: 30%;
  margin-right: auto;
}
.btns button {
  cursor: pointer;
  padding: .45em 1em;
  background: #E85A4F;
  border-radius: 7px;
  color: #EAE7DC;
  font-size: 1rem;
  border-color: transparent;
  transition: 500ms background;
}
.btns button:hover {
  background: #db2e22
}
.btns button svg {
  background: transparent;
  pointer-events: none;
}